#p:hover{
    color: red;
    font-size: 100px;
    color: blue;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p{
    font-size: 70px;
    color: blue;
}
p{
    font-size: 40px;
    color: blue;
}
.size{
    width: 510px;
    height: 220px;
}
.btSize{
    width: 132px;
    height: 36px;
}
.tbSize{
    width: 503px;
    height: 34;
}
.spanSize_img{
    width: 32px;
    height: 32px;
}
.spanSize{
    position: absolute;
    left: 1000px;
    top: 10px;
    
}